@{
    ViewData["Title"] = "Welcome";
    Layout = "_Layout";
}

<h1>Welcome to TriPowers LLC</h1>
<p>
  Visit our <a href="/api/jobs">Jobs API</a> or go to the <a href="/careers">Careers page</a>.
</p>
